<div class="banner" style="background-image: linear-gradient(rgba(255,236,250,0.7),rgba(100,100,100,0.1)), url(https://images.unsplash.com/photo-1481828238384-55757d1249b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1484&q=80);">
  <div class="container-home">

    <h1 class="col-xs-6 col-md-4">Chante, chante, chante !</h1>
    <p class="col-xs-6 col-md-4">Aprenda o francês com músicas</p>
    <div class="col-xs-6 col-md-4">
      <%= simple_form_for:search, url: songs_path, method: "GET", input_html: { class: "form-banner" } do |f| %>

      <%= f.input :level, label: "Você fala francês...", label_html: { class: 'form-label' }, :collection => @levels, input_html: {value: "", id: "dropdown_home", class: "placeholder-home white-color-link white-text"}, :required => false %>
      <%= f.input :style, label: "Você gosta de...", label_html: { class: 'form-label' }, :collection => @styles, input_html: {value: "", id: "dropdown_home", class: "placeholder-home white-color-link white-text"}, :required => false %>
      <%= f.button :submit, "Ouvir as músicas", class: "btn-outline" %>
      <% end %>

    </div>
  </div>
</div>


