.navbar-sing {
  justify-content: space-between;
  background: #FEEAFB;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.navbar-sing .navbar-collapse {
  flex-grow: 0;
}

.navbar-sing .navbar-brand img {
  width: 40px;
}


