// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/banner";
@import "components/button";
@import "components/card";
@import "pages/index";


body {
  background-color: #FCF9E8;

}

.center {
  justify-content: center;
}

.spaceb {
  justify-content: space-between;
}

.container-home {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.container {
    width: 100%;
    padding: 2em;
    margin-right: auto;
    margin-left: auto;
    background-color: #FCF8E8;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

p {
  color: #483D3F;
}

h2 {
  color: #483D3F;
}

h6 {
  color: #483D3F;
}


.red {
  color: #E84855;
}
